# Ejercicios Dataframes 1
Realiza os seguintes exercicios. Soluciona cada un deles empregando a DataFrame API e Spark SQL
1. Inicializa a variable spark (0)

2. Crea un *dataframe* chamado **mi_df** cos datos do ficheiro */data/retail-data/all/online-retail-dataset.csv*

In [ ]:
#DataFrame API


#SQL

3. Mostra as 10 primeiras filas do *dataframe*

In [ ]:
#DataFrame API


#SQL

4. Mostra só os campos **"InvoiceNo"**, **"Description"** e **"Quantity"** das 5 primeiras filas

In [ ]:
#DataFrame API


#SQL

5. Mostra só os campos **"InvoiceNo"** (Factura), **"Description"** (Descrición) e **"Quantity"** (Cantidade) das 5 primeiras filas

In [ ]:
#DataFrame API


#SQL

6. Mostra os campos **"Description"** e **"Quantity"** das 5 primeiras filas para o número de factura **536365**

In [ ]:
#DataFrame API


#SQL

7. Engade unha nova columna chamada **"Mayor_que_20"** que conteña o valor **True** se o custo total (*Quantity* × *UnitPrice*) é maior que 20, **False** no caso contrario. Mostra as 5 primeiras filas.

In [ ]:
#DataFrame API


#SQL

8. Elimina a columna **CustomerID**

In [ ]:
#DataFrame API


#SQL

9. Mostra os países distintos (10 primeiros)

In [ ]:
#DataFrame API


#SQL

10. Mostra o número de países distintos

In [ ]:
#DataFrame API


#SQL

11. Mostra os países distintos, ordenados de forma ascendente

In [ ]:
#DataFrame API


#SQL