# Exercicios de DataFrames 4
Realiza os seguintes exercicios. Resolve cada un deles empregando a API de DataFrames e Spark SQL (0,5 puntos por apartado).

Sobre o ficheiro movies.tsv do boletín anterior (le o ficheiro empregando o mesmo esquema):

  - a. Cantas películas diferentes hay?

- b. En cantas películas traballou Murphy, Eddie (I)?

  - c. Cales son os actores que apareceron en máis de 30 películas?

  - d. En que película anterior a 1980 aparecen polo menos 25 intérpretes?

  - e. Amosa a cantidade de películas producidas cada ano (só debe amosar o ano e a cantidade), ordenando a listaxe pola cantidade de forma descendente.

  - f. A partir da consulta anterior, crea un gráfico de barras que amose o ano e a cantidade de películas, ordenados por data.

2. Empregando o arquivo `movie-ratings.csv`, que contén as calificacións das películas e o arquivo `movies.tsv`...
 - a. Crea un dataframe que combine ambos arquivos (non amosar datos duplicados)

  - b. Amosa para cada ano, a película con maior puntuación (ano, título da película, puntuación)

  - c. Averigua as tres parellas de intérpretes que traballaron xuntas en máis ocasións. A saída debe ter tres columnas: interprete1, interprete2 e cantidade. (é necesario empregar un self-join)

3. A partir dos ficheiros csv situados no directorio salesdata...
   - a. Crea un DataFrame con todos os datos, empregando o seguinte esquema:

In [1]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
esquema = StructType([
    StructField("Order ID", IntegerType(), False),
    StructField("Product", StringType(), False),
    StructField("Quantity Ordered", IntegerType(), True),
    StructField("Price Each", DoubleType(), False),
    StructField("Order Date", StringType(), False),
    StructField("Purchase Address", StringType(), False)
])

  - b. Renomea todas as columnas para elminar espazos en blanco

  - c. Elimina as filas que conteñan campos nulos


  - d. Comproba se hai filas con datos da cabeceira dos ficheiros (por exemplo: un produto chamado Product). Nese caso, elimina esas filas.

  - e. A partir do campo dirección, crea dúas novas columnas para almacenar a cidade (City) e o estado (State). Por exemplo, para o enderezo 136 Church St, New York City, NY 10001, a cidade é New York City e o estado é NY.

  - f. Modifica o campo coa data do pedido para que o seu formato sexa `timestamp`.

  - g. Sobre o campo anterior, crea dúas novas columnas, co mes (Month) y co ano (Year) do pedido.

  - f. Averigua cal foi o mes que máis recadou. Para iso, deberás multiplicar o prezo pola cantidade de unidades e, posteriormente, realizar algunha agregación.

  - g. Sobre o resultado anterior, crea un gráfico de barras de vendas totais por mes, cos meses no eixe X e as vendas no eixe Y. Converte antes o DataFrame a Pandas.

  - h. Crea un dataframe que conteña as unidades totais vendidas en cada cidade

 - g. Crea un gráfico de barras a partir do dataframe do exercicio anterior